body{
    background-color: ivory;
    
}

h1{
    text-align: center;
    font-size: 35px;
}

form{
    text-align: center;
}

input, select, label{
    font-size: 18px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

button{
    font-size: 17px;
    width: 180px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(31, 67, 67);
    color: white;
}

footer {
    transform: translateY(126%);
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: rgb(31, 67, 67);
}

.reg-form{
    text-align: center;
}