<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <title>Login</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navdiv">
        <div class="logo"><p>The Piggy Bank</p></div>
      </div>
    </nav>

    <main>
      <div class="login-form">
        <h1>Welcome Back to The Piggy Bank!!</h1>
        <form method="POST" action="{{ url_for('auth.login') }}">
          <input type="text" placeholder="Username" name="username" required />
          <br /><br />
          <input
            type="password"
            placeholder="Password"
            name="password"
            required
          />
          <br /><br />
          <button type="submit">Login</button>
          <br /><br />
          <a href="{{ url_for('views.register') }}">New User? Register</a>
        </form>
        {% with messages = get_flashed_messages(with_categories=True) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'lerror' %}
        <div class="alert alert-danger alert-dismissible show" role="alert">
          {{ message }}
        </div>
        {% elif category == 'lsuccess' %}
        <div class="alert alert-success alert-dismissible show" role="alert">
          {{ message }}
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
      </div>
    </main>
    <footer>
      <p>&copy; The Piggy Bank 2024</p>
    </footer>
  </body>
</html>
